@model Tella_CMS.Models.Customer

@{
    ViewData["Title"] = "Chi tiết trọng tài";
}


<h4>Chi tiết Khách hàng</h4>
<hr />

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xoá</a>
        <a asp-action="Index" class="k-button">Quay lại</a>
    </div>
</div>



<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Mã:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Code)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên KH:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.FullName)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        SĐT:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Telephone)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
Địa chỉ:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Address1)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Email:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Email)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xoá</a>
        <a asp-action="Index" class="k-button">Quay lại</a>
    </div>
</div>
