@model Tella_CMS.Efs.Entities.Oder_view

@{
    ViewData["Title"] = "Details";
}


<div style="text-align: center" class="alert alert-primary" role="alert">
    <h1>Chi tiết đơn hàng</h1>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Code" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Code" class="btn btn-danger">Xoá</a>
        <a asp-action="Index" class="k-button">Quay lại</a>
    </div>
</div>



<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Mã đơn hàng:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Code)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên khách hàng:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.TenKH)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên sản phẩm:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.TenSP)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Số lượng:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.SoLuong)
    </div>
</div>


<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Năm sinh:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Age)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Số điện thoại:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.SDT)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Địa chỉ:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.DiaChi)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ngày xuất đơn:
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.NgayMua)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Code" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Code" class="btn btn-danger">Xoá</a>
        <a asp-action="Index" class="k-button">Quay lại</a>
    </div>
</div>

